body{
	background-image: url("http://i.imgur.com/4YryAWx.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
img{
	height: auto;
	width: 70%;
	float:left;
	display: block;
	}
div{
    width: 300px;
    padding: 50px;
    margin: auto;
    clear:left;
}
li{
	list-style:none;
}
.characters{
	text-align: center;
	position:block;
	margin: fixed;
}
.nav{
	display: inline;
	padding-top: 10%;
	padding-left: .5%;
	padding-right: .5%;
	padding-bottom: 10%;
}
a:link{
		text-decoration:none;
		font-size: 25px;
}
a:hover{
		text-decoration: underline;
}
a:active{
		text-decoration: bold;
}
ul{
	text-align:center;
}
.footer{
	text-align: bottom;
	text-align:center;
	display:block;
	font-size:10px;
}